.btn {
    width: max-content;
    padding: 12px 105px;
    border: none;
    font-family: var(--sfpd);
    font-size: 36px;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.54px;
    border-radius: 33px;
    transition: all .5s;
    &_dark {
        border: 1px solid transparent;
        color: #FFF;
        background: #9743B5;
        &:hover {
            color: #9743B5;
            background: #FFF;
            border: 1px solid #9743B5;
        }
        &:active {
            transform: translateY(5px);
            box-shadow: inset 2px 5px 15px;
        }
    }
    &_gray {
        background: var(--gray);
        color: var(--white);
    }
    &_light {
        background: #DCC4FF;
        &:hover {
            background: #b6a2d4;
        }
        &:active {
            transform: translateY(5px);
            box-shadow: inset 2px 5px 15px;
        }
    }
    &_white {
        background: var(--white);
        &:hover {
            background: #ece7f3;
        }
        &:active {
            transform: translateY(5px);
            box-shadow: inset 2px 5px 15px;
        }
    }
    &_center {
        display: block;
        margin: 0 auto;
    }
    &_p94 {
        padding: 12px 94px;
        border-radius: 33px;
    }
    &_p46 {
        padding: 12px 46px;
    }
    &_p58 {
        padding: 12px 58px;
    }
    &_p85 {
        padding: 18px 85px;
    }
    &_form {
        width: 100%;
        padding: 12px 0;
        font-family: var(--sfc);
        font-size: 30px;
        font-weight: 500;
        cursor: pointer;
    }
}

@media (max-width: 992px) {
    .btn {
        padding: 12px 85px;
        font-size: 32px;
        &_form {
            padding: 12px 0;
            font-size: 24px;
        }
    }
}

@media (max-width: 768px) {
    .btn {
        padding: 12px 60px;
        font-size: 26px;
        &_form {
            padding: 12px 0;
            font-size: 24px;
        }
    }
}

@media (max-width: 576px) {
    .btn {
        padding: 12px 36px;
        font-size: 20px;
    }
}