.title {
    font-family: var(--extra);
    font-size: 64px;
    font-style: italic;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.96px;
    span {
        font-size: 104px;
        font-style: normal;
        font-weight: 600;
        line-height: 80px;
        letter-spacing: -1.56px;
    }
    &_dark {
        color: var(--gray);
        span {
            color: var(--violet);
        }
    }
    &_light {
        color: var(--white);
    }
    &_mini {
        font-size: 36px;
        span {
            font-size: 70px;
            margin-left: 14px;
        }
    }
    &_ml {
        margin-left: 97px;
        span {
            margin-left: -37px;
        }
    }
}

.subtitle {
    font-family: var(--sfpd);
    font-size: 36px;
    font-style: normal;
    letter-spacing: -0.54px;
    &_bold {
        font-weight: 600;
    }
}

@media (max-width: 992px) {
    .title {
        font-size: 54px;
        span {
            font-size: 84px;
            line-height: 60px;
        }
    }
    
    .subtitle {
        font-size: 30px;
    }
}

@media (max-width: 768px) {
    .title {
        font-size: 44px;
        span {
            font-size: 64px;
            line-height: 60px;
        }
    }
    
    .subtitle {
        font-size: 24px;
    }
}

@media (max-width: 576px) {
    .title {
        font-size: 32px;
        span {
            font-size: 52px;
            line-height: 40px;
        }
    }
    
    .subtitle {
        font-size: 20px;
    }
}