.action-header {
    padding-top: 64px;
    position: relative;
    &__bg {
        position: absolute;
        right: 0;
        top: 0;
        z-index: 1;
    }
    &__title {
        margin-bottom: 148px;
        position: relative;
        z-index: 2;
    }
    &__descr, &__text {
        width: 40%;
        font-family: var(--sfc);
        font-size: 22px;
        font-weight: 400;
        letter-spacing: -0.33px;
        margin-bottom: 30px;
        margin-left: 40px;
        position: relative;
        z-index: 3;
    }
    &__img {
        margin-bottom: 193px;
    }
    &__info {
        position: relative;
        background: #BFBFBF;
        width: 100%;
        padding: 92px 0 124px 0;
        z-index: 0;
    }
    &__text {
        margin-bottom: 100px;
    }
    &__btn {
        position: relative;
        z-index: 10;
    }
}

@media (max-width: 1200px) {
    .action-header {
        &__bg {
            width: 45%;
        }
        &__title {
            margin-bottom: 80px;
        }
        &__descr, &__text {
            width: 50%;
        }
        &__img {
            margin-bottom: 80px;
            width: 40%;
        }
        &__info {
            padding: 62px 0 104px 0;
        }
        &__text {
            margin-bottom: 80px;
        }
    }
}

@media (max-width: 992px) {
    .action-header {
        &__bg {
            width: 40%;
            opacity: .6;
        }
        &__title {
            margin-bottom: 60px;
        }
        &__descr, &__text {
            width: 60%;
            font-size: 20px;
        }
        &__img {
            margin-bottom: 60px;
            width: 40%;
        }
        &__info {
            padding: 52px 0 84px 0;
        }
        &__text {
            margin-bottom: 60px;
        }
    }
}

@media (max-width: 768px) {
    .action-header {
        padding-top: 46px;
        &__bg {
            width: 40%;
            opacity: .5;
        }
        &__title {
            margin-bottom: 40px;
        }
        &__descr, &__text {
            width: 65%;
        }
        &__img {
            margin-bottom: 40px;
            width: 40%;
        }
        &__info {
            padding: 32px 0 64px 0;
        }
        &__text {
            margin-bottom: 40px;
        }
    }
}

@media (max-width: 576px) {
    .action-header {
        padding-top: 30px;
        &__bg {
            width: 65%;
            opacity: .25;
        }
        &__title {
            margin-bottom: 32px;
        }
        &__descr, &__text {
            margin-left: 0;
            width: 90%;
            font-size: 18px;
        }
        &__img {
            margin-bottom: 30px;
            width: 50%;
        }
        &__info {
            padding: 32px 0 54px 0;
        }
        &__text {
            margin-bottom: 30px;
        }
    }
}