.feedback {
    padding: 53px 0 80px 0;
    text-align: center;
    position: relative;
    &__text {
        margin: 0 auto;
        width: 60%;
        color: var(--black);
        text-align: center;
        font-family: var(--sfc);
        font-size: 22px;
        font-weight: 400;
        letter-spacing: -0.33px;
        margin-bottom: 54px;
    }
    &__thanks {
        display: none;
        color: var(--black);
        text-align: center;
        font-family: var(--sfc);
        font-size: 22px;
        font-weight: 400;
        letter-spacing: -0.33px;
    }
    &__btn {
        position: relative;
    }
    &__form {
        display: none;
        position: absolute;
        width: 638px;
        padding: 100px 50px 60px 50px;
        border-radius: 20px;
        background: var(--white);
        box-shadow: 0px 20px 40px 0px rgba(0, 0, 0, 0.50);
        top: 269px;
        right: 15%;
        z-index: 10;
        input, textarea {
            width: 100%;
            padding: 14px 28px;
            border-radius: 30px;
            border: 2px solid #696A86;
            margin-bottom: 24px;
            color: var(--black);
            font-family: var(--sfc);
            font-size: 28px;
            font-weight: 400;
            &::placeholder {
                color: #B4B4C2;
                font-family: var(--sfc);
                font-size: 28px;
                font-weight: 400;
            }
        }
        input:focus {
            outline: none;
            border: 2px solid #72c07f;
        }
        input:focus:invalid {
            border: 2px solid #a66060;
        }
        textarea {
            margin-bottom: 30px;
        }
    }
    &__close {
        width: 60px;
        height: 60px;
        background: var(--violet);
        border-radius: 50px;
        display: flex;
        justify-content: center;
        align-content: center;
        font-size: 50px;
        line-height: 55px;
        color: var(--white);
        position: absolute;
        top: -30px;
        right: -30px;
        cursor: pointer;
    }
}


@media (max-width: 992px) {
    .feedback {
        padding: 43px 0 70px;
        &__text {
            width: 80%;
            margin-bottom: 44px;
        }
        &__btn {
            position: relative;
        }
        &__form {
            width: 538px;
            padding: 80px 40px 50px 40px;
            top: 239px;
            input, textarea {
                font-size: 22px;
                &::placeholder {
                    font-size: 22px;
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .feedback {
        padding: 33px 0 60px 0;
        &__text {
            width: 100%;
            margin-bottom: 24px;
            font-size: 18px;
        }
        &__form {
            width: 438px;
            padding: 60px 20px 30px 20px;
            top: 185px;
            input, textarea {
                margin-bottom: 18px;
                font-size: 20px;
                &::placeholder {
                    font-size: 20px;
                }
            }
        }
    }
}

@media (max-width: 576px) {
    .feedback {
        padding: 20px 0 60px 0;
        &__form {
            width: 85%;
            padding: 30px 10px 20px 10px;
            top: 80%;
            right: 25px;
            input, textarea {
                margin-bottom: 18px;
                font-size: 20px;
                &::placeholder {
                    font-size: 20px;
                }
            }
        }
        &__close {
            width: 50px;
            height: 50px;
            line-height: 45px;
            top: -20px;
            right: -20px;
            cursor: pointer;
        }
    }
}